.venv 
.venv/
__pycache__/
*.pyc
.env
.env.*

test.py
test1.py
data.*

*.csv


*.log
.DS_Store
output.*
test0.py
venv
venv

*.zip
checkpoints/

.tmp.*
kernel-metadata.json    
scripts/
scripts

wandb
wandb/